

.custom-container {
    padding: 0;
    margin: 0;
    width: 100vw !important;
}

.container {
    margin: 0 !important;
    padding: 0 !important;
}

.side-bar {
    height: 100vh;
}

#logo-img {
    width: 15%;
}



#class-avatar-img {
    width: 10% !important;
}

.prossime-classi-card {
    height: 300px !important;
    overflow-y: scroll !important;
}

#bell-icon {
    color: #ffd000;
}

.status-tags {
    width: 3rem;
    color: #fff;
    padding: 0.2rem;
    border: 1px solid transparent;
    border-radius: 6px;
    font-size: 9px;
    height: 1.5rem;
}

.breadcrumbs-tags {
    background-color: rgba(0, 0, 0, 0.2);
    height: 1.5rem;
    padding: 0 0.4rem;
    border-radius: 60px;
    font-size: small;
    margin-right: 3px;
}

.tag-done {
    background-color: #198754;
    
}

.tag-process {
    background-color: #ffd000;
}

.tag-failed {
    background-color: #c21c1c;
}

.action-icons {
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid grey;
    color: grey;
    padding: 6px;
    border-radius: 5px;
    margin-left: 5px;
}

.left-nav-bg {
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
}

#stats-img {
    width: 90%;
}